/* Paleta de colores */
:root {
    --violeta: #383655;
    --gris: #f2f2f2;
    --celeste: #90a9b4;
    --rosa: #da455b;
  }

  .gris {
    background-color: var(--gris);
  }
  .violeta {
    background-color: var(--violeta);
    color: white;
  }

  .txt-violeta {
    color: var(--violeta);
  }

  .txt-blanco p {
    color: white;
  }

/* Aviso de rotacion de pantalla */

#aviso-giro {
    height: 100vh;
  }

  @media screen and (orientation: landscape) {
   #aviso-giro {
      display: none;
    }
  }
  
  @media screen and (orientation: portrait) {
    main {
      display: none;
    }
  }

/* Configuraciones generales */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sauna Pro';
    scroll-behavior: smooth;
}


/* Secciones */

section {
    height: 100dvh;
    position: relative;
}

.container {
    height: 100dvh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.container div {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 600px;
    align-content: center;
    justify-content: center;
    gap: .5em;
}

.container figure {
    display: flex;
    align-content: center;
    justify-content: center;
} 

.img-esquema {
    height: 300px;
    max-height: 80dvh;
}

.presentacion p {
    margin-bottom: .5em;
}

.centrado {
    align-self: center;
    justify-self: center;
}

.conteo {
    background-image: url(img/bg-conteo.png);
    gap: 2em;
}

.conteo h1 {
    color: var(--violeta);
    font-size: 3em;
}

.conteo figure {
    align-self: flex-end;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.caja {
    border: 2px solid var(--violeta);
    border-radius: 1em;
    background-color: var(--gris);
    padding: 1em;
    max-height: 50dvh;
}

.caja-texto h2, p {
    color: var(--violeta);
}

.abajo-derecha {
    position: relative;
    width: 500px;
    max-width: 80dvw;
    right: 5vh;
    margin: 2em;
    z-index: 1;
    overflow: hidden;
}

/* INTRO */

.btn-comenzar {
    width: 200px;
    max-width: 80vw;
    background-color: var(--rosa);
    color: var(--gris);
    border: 0px solid;
    border-radius: 15px;
    padding: 0.4em 3em;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
  }
  
  .btn-comenzar:hover {
    background-color: var(--celeste);
    color: var(--violeta);
  }
  
  
  /* PORTADA VIDEO */
  
    .video-container {
      height: 100dvh;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
  }
  
    .video-container video {
      width: 100dvw;
      height: 100dvh;
      position: absolute;
      object-fit: cover;
      z-index: 0;
    }
  
    .video-container .caption {
      height: 100dvh;
      width: 100cqw;
      line-height: 2em;
      z-index: 1;
      color: #ede8e8;
      background: #301647c9;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .video-container .caja-texto {
      z-index: 1;
      text-align: center;
      max-width: 90vw;
    }

    .logo {
        height: 150px;
        max-height: 15vh;
    }

