@font-face {
    font-family: 'Sauna Pro';
    src: url('SaunaPro-RegularItalic.eot');
    src: local('Sauna Pro Regular Italic'), local('SaunaPro-RegularItalic'),
        url('SaunaPro-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('SaunaPro-RegularItalic.woff2') format('woff2'),
        url('SaunaPro-RegularItalic.woff') format('woff'),
        url('SaunaPro-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sauna Pro Bold Italic Swash';
    src: url('SaunaPro-BoldItalicSwash.eot');
    src: local('Sauna Pro Bold Italic Swash'), local('SaunaPro-BoldItalicSwash'),
        url('SaunaPro-BoldItalicSwash.eot?#iefix') format('embedded-opentype'),
        url('SaunaPro-BoldItalicSwash.woff2') format('woff2'),
        url('SaunaPro-BoldItalicSwash.woff') format('woff'),
        url('SaunaPro-BoldItalicSwash.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sauna Pro';
    src: url('SaunaPro-Bold.eot');
    src: local('Sauna Pro Bold'), local('SaunaPro-Bold'),
        url('SaunaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('SaunaPro-Bold.woff2') format('woff2'),
        url('SaunaPro-Bold.woff') format('woff'),
        url('SaunaPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sauna Pro';
    src: url('SaunaPro-BlackItalic.eot');
    src: local('Sauna Pro Black Italic'), local('SaunaPro-BlackItalic'),
        url('SaunaPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('SaunaPro-BlackItalic.woff2') format('woff2'),
        url('SaunaPro-BlackItalic.woff') format('woff'),
        url('SaunaPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Sauna Pro';
    src: url('SaunaPro-Regular.eot');
    src: local('Sauna Pro Regular'), local('SaunaPro-Regular'),
        url('SaunaPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('SaunaPro-Regular.woff2') format('woff2'),
        url('SaunaPro-Regular.woff') format('woff'),
        url('SaunaPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sauna Pro Regular Italic Swash';
    src: url('SaunaPro-RegularItalicSwash.eot');
    src: local('Sauna Pro Regular Italic Swash'), local('SaunaPro-RegularItalicSwash'),
        url('SaunaPro-RegularItalicSwash.eot?#iefix') format('embedded-opentype'),
        url('SaunaPro-RegularItalicSwash.woff2') format('woff2'),
        url('SaunaPro-RegularItalicSwash.woff') format('woff'),
        url('SaunaPro-RegularItalicSwash.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sauna Pro Dingbats';
    src: url('SaunaPro-Dingbats.eot');
    src: local('Sauna Pro Dingbats'), local('SaunaPro-Dingbats'),
        url('SaunaPro-Dingbats.eot?#iefix') format('embedded-opentype'),
        url('SaunaPro-Dingbats.woff2') format('woff2'),
        url('SaunaPro-Dingbats.woff') format('woff'),
        url('SaunaPro-Dingbats.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sauna Pro Black Italic Swash';
    src: url('SaunaPro-BlackItalicSwash.eot');
    src: local('Sauna Pro Black Italic Swash'), local('SaunaPro-BlackItalicSwash'),
        url('SaunaPro-BlackItalicSwash.eot?#iefix') format('embedded-opentype'),
        url('SaunaPro-BlackItalicSwash.woff2') format('woff2'),
        url('SaunaPro-BlackItalicSwash.woff') format('woff'),
        url('SaunaPro-BlackItalicSwash.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Sauna Pro';
    src: url('SaunaPro-BoldItalic.eot');
    src: local('Sauna Pro Bold Italic'), local('SaunaPro-BoldItalic'),
        url('SaunaPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SaunaPro-BoldItalic.woff2') format('woff2'),
        url('SaunaPro-BoldItalic.woff') format('woff'),
        url('SaunaPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sauna Pro Regular Small Caps';
    src: url('SaunaPro-RegularSmallCaps.eot');
    src: local('Sauna Pro Regular Small Caps'), local('SaunaPro-RegularSmallCaps'),
        url('SaunaPro-RegularSmallCaps.eot?#iefix') format('embedded-opentype'),
        url('SaunaPro-RegularSmallCaps.woff2') format('woff2'),
        url('SaunaPro-RegularSmallCaps.woff') format('woff'),
        url('SaunaPro-RegularSmallCaps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sauna Pro';
    src: url('SaunaPro-Black.eot');
    src: local('Sauna Pro Black'), local('SaunaPro-Black'),
        url('SaunaPro-Black.eot?#iefix') format('embedded-opentype'),
        url('SaunaPro-Black.woff2') format('woff2'),
        url('SaunaPro-Black.woff') format('woff'),
        url('SaunaPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

