/* Paleta de colores */
:root {
    --violeta: #383655;
    --gris: #f2f2f2;
    --celeste: #90a9b4;
    --rosa: #da455b;
  }

  .gris {
    background-color: var(--gris);
  }
  .violeta {
    background-color: var(--violeta);
    color: white;
  }

  .txt-violeta {
    color: var(--violeta);
  }

  .txt-blanco {
    color: white;
  }

/* Aviso de rotacion de pantalla */

#aviso-giro {
    height: 100vh;
  }

  @media screen and (orientation: landscape) {
   #aviso-giro {
      display: none;
    }
  }
  
  @media screen and (orientation: portrait) {
    main {
      display: none;
    }
  }

/* Configuraciones generales */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sauna Pro';
    scroll-behavior: smooth;
}




section {
    height: 100dvh;
    position: relative;
}


/* Secciones */

/* Presentacion */
.container {
    height: 100dvh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.container div {
    display: flex;
    flex-direction: column;
    width: 800px;
    max-width: 80vw;
    align-content: center;
    justify-content: center;
    gap: .5em;
}

.container figure {
    display: flex;
    align-content: center;
    justify-content: center;
} 

.img-esquema {
    height: 300px;
    max-height: 80dvh;
}

.presentacion p {
    margin-bottom: .5em;
    font-size: 1.5em;
    font-weight: 100;
}

.centrado {
    align-self: center;
}



.btn-comenzar {
  max-width: 80vw;
  background-color: var(--rosa);
  color: var(--gris);
  border: 0px solid;
  border-radius: 15px;
  padding: 0.4em 3em;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  font-weight: 600;
  font-size: 1.7em;
}

.btn-comenzar:hover {
  background-color: var(--celeste);
  color: var(--violeta);
}




.conteo {
    background-image: url(img/bg-conteo.png);
}

.conteo .flex-container {
  display: flex;
  align-items: center;
  gap: 2em;
  height: 100cqh;
}

.conteo h1 {
    color: var(--violeta);
    font-size: 5em;
}

.flex-container .titulo {
    margin: auto;
    display: flex;
    gap: 2em;

}


.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.caja {
  width: 350px;
    max-width: 50%;
    z-index: 2;
    border: 2px solid var(--violeta);
    border-radius: 1em;
    background-color: var(--gris);
    padding: 1em;
}

.caja h2 {
    color: var(--violeta);
    font-size: 1.8em;
    margin-bottom: .3em;
}

.caja p {
  color: var(--violeta);
  font-size: 1.5em;
}

.abajo-derecha {
  position: relative;
  top: -30%;
  right: -60%;
}

  
  
  /* PORTADA VIDEO */
  
    .video-container {
      height: 100dvh;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
  }
  
    .video-container video {
      width: 100dvw;
      height: 100dvh;
      position: absolute;
      object-fit: cover;
      z-index: 0;
    }
  
    .video-container .caption {
      height: 100dvh;
      width: 100cqw;
      line-height: 2em;
      z-index: 1;
      color: #ede8e8;
      background: #301647c9;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .video-container .caja-texto {
      z-index: 1;
      text-align: center;
      max-width: 90vw;
    }

    .logo {
        height: 150px;
        max-height: 15vh;
    }

